body {
  font-family: 'Raleway', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: xx-large;
  font-weight: 200;
  letter-spacing: 10px;
}
h2 {
  text-transform: uppercase;
  font-weight: 200;
}
h3 {
  color: #3a768f;
}
header {
  display: table;
  width: 100%;
}
#index {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#index > #center {
  display: table-cell;
  vertical-align: middle;
}
#index > #center #logo h1 {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
#index > #center ul {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#index > #center ul > li {
  vertical-align: middle;
  display: block;
  margin: 0 10px;
}
#index > #center img {
  width: 22%;
  opacity: 0.6;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}
#about {
  text-align: center;
}
header #logo {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
header #logo h1 {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  font-size: xx-large;
  font-weight: 200;
  letter-spacing: 10px;
}
#menu {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul > li {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px;
}
a {
  font-size: small;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  outline: none !important;
}
a:hover {
  color: coral;
}
a.active:hover {
  color: inherit;
}
#grid {
  max-width: 100%;
  line-height: 0;
  margin: 0 auto;
}
#grid img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  opacity: 0.6;
}
#grid img.active {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.image {
  box-shadow: 0 0 1px 5px whitesmoke inset;
  width: 16.666666666666668%;
  overflow: hidden;
  position: relative;
  float: left;
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.image:hover {
  opacity: 1;
}
